*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, Times, "Times New Roman", serif;
}

/* 1792x828px at 326ppi for IPHONE XR, 11*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2)
    and (orientation : portrait) {
}

/* 2688x1242px at 458ppi for IPHONE XS MAX */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait) {
}

body {
    padding-top: 100px;
}

.title-container {
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0;
}

.title {
    margin-top: 0px;
    font-size: larger;
    background-color: #272f2a;
    border: 10px solid #272f2a;
    border-radius: 20px;
    height: auto;
    color: white;
}

.pure-g {
    margin: 90px 20px 0px 20px;
}

svg {     
    width: 100%;
    border: none;
    display: grid;
}

.background-img {
    background-image: url("../images/background.png");
    height: 100%;
    background-position: center;
}

.palette div div {
    margin: 5px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 90px;
}

button:focus {
    outline: 1px solid white;
}

.generateBtn {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #c81a15;
    color: white;
}

.saveBtn {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #7dcccb;
    color: white;
}

.svgLock {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    padding: 5px;
    background-color: white;
}

#savedPalettesPanel {
    max-width: 25%;
    margin: 10px;
    background-color: black;
    color: white;
}

/*testing style*/

.savedBlock {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px white solid;
}

/*Utility classes*/
.visible {
    display: inline-block;
}

/*Hide Content with removing the space*/
.hidden {
    display: hidden;
}