*,
*::before
*::after {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
}

/* 1792x828px at 326ppi IPHONE XR*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) { 
}

/* 2688x1242px at 458ppi IPHONE XS MAX*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3) { 
}

/* 1792x828px at 326ppi IPHONE 11*/
@media only screen 
    and (device-width: 414px) 
    and (device-height: 896px) 
    and (-webkit-device-pixel-ratio: 2) { 
}

.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: Georgia, Times, "Times New Roman", serif;
    
}


