*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 1792x828px at 326ppi for IPHONE XR, 11*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2)
    and (orientation : portrait) {
}

/* 2688x1242px at 458ppi for IPHONE XS MAX */
@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : portrait) {
}

body {
    padding-top: 100px;
}

.title-container {
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.title {
    margin-top: 0px;
    font-size: larger;
    background-color: #272f2a;
    border: 10px solid #272f2a;
    border-radius: 20px;
    height: auto;
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.pure-g {
    margin: 90px 20px 0px 20px;
}

svg {     
    width: 100%;
    border: 1px solid #272f2a;
    display: grid;
    border-radius: 20px;
}

.background-img {
    background-image: url("../images/background.png");
    height: 100%;
    background-position: center;
}

.palette div div {
    margin: 5px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 90px;
}

button:hover {
    outline: 2px solid white;
}

.generateBtn {
    padding: 10px;
    border: 1px solid #272f2a;
    border-radius: 20px;
    background-color: #c81a15;
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.saveBtn {
    padding: 10px;
    border: 1px solid #272f2a;
    border-radius: 20px;
    background-color: #7dcccb;
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.svgLock {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    padding: 5px;
    background-color: white;
}

#savedPalettesPanel {
    max-width: 25%;
    margin: 10px;
    background-color: black;
    color: white;
}

/*testing style*/

.savedBlock {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px white solid; 
}

/*Utility classes*/
.visible {
    display: inline-block;
}

/*Hide Content with removing the space*/
.hidden {
    display: hidden;
}

.invisible {
    display: none;
}

.extemp-container {
    margin: 70px 0px 0px 110px;
    border: 3px #272f2a solid;
    border-radius: 20px;
    background-color: #272f2a;
    padding: 10px;
    width: 55%;
}

.extemp {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.text-border {
    border: 3px solid #272f2a;
    border-radius: 20px;
    background-color: #272f2a;
    padding: 15px;
    width: 90%;
    margin: 10px 0px 0px 25px;
}

.textExample, p {
    color: white;
    text-align: center;
    font-size: large;
}

.lzdog1 {
    font-family: 'Courier New', Courier, monospace;
}

.lzdog2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lzdog3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lzdog4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lzdog5 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.savedpal {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.saved-container {
    padding: 10px;
    border: #272f2a;
    border-radius: 20px;
    background-color: #272f2a;
    width: 80%;
}